:root {
  --primary: #1769ff;
  --primary10: rgba(23, 105, 255, 0.1);
  --primary30: rgba(23, 105, 255, 0.3);
  --primary50: rgba(23, 105, 255, 0.5);
  --color-gray: #91909a;
  --naver-green: #1ace60;
  --kakao-yellow: #fae102;
  --fb-blue: #3a559f;
  --gray: #333333;
  --check-gray: #777777;
  --border-gray: #c1c0c8;
  --border-gray2: #979797;
  --fontgray2: #6c6c6c;
  --like-white: #070606;
  --darkblack: #02010e;
  --gray50: rgba(119, 119, 119, 0.5);
  --gray10: rgba(193, 192, 200, 0.1);
  --gray30: rgba(145, 144, 154, 0.3);
  --mainBlack: #222222;
  --gray-back: #fcfcfc;
  --borderGrayReal: #d8d8d8;
  --lightWite: #f5f6fa;
  --realGray: #90919a;
  --navy: #002872;
  --skyBlue: #9abeff;
  --contentBlack: #565656;
}
