@charset "utf-8";
.main {
	position: relative;
}

.main-content {
	margin-top: 29px;
}

.bothSpace {
	padding-left: 20px;
	padding-right: 20px;
}

.title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.title-container .title-help-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 30px;
	border: 1px solid var(--border-gray);
	border-radius: 22px;
}

.title-container .title-help-icon img {
	width: 15px;
	height: 15px;
}

.tab-container {
	display: flex;
	flex-wrap: nowrap;
	overflow-y: auto;
	margin-bottom: 22px;
}

.tab-container.full {
	flex-wrap: wrap;
}

.tab-container.full .tab {
	text-align: center;
	width: 33.333%;
	margin-right: 0;
	margin-left: 0;
}

.tab-container.full .tab.active {
	padding-bottom: 0;
	border-bottom: none;
}

.tab-container.full .tab p {
	border-bottom: 0;
	position: relative;
	padding-bottom: 8px;
}

.tab-container.full .tab.active p {
	display: inline-block;
}

.tab-container.full .tab p:after {
	content: '';
	width: 0;
}

.tab-container.full .tab.active p:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	background-color: var(--primary);
	height: 2px;
	transform-origin: left;
	transition: 0.3s width cubic-bezier(0.215, 0.61, 0.355, 1);
}

.tab-container .tab:first-child {
	margin-left: 0px;
}

.tab-container .tab {
	font-weight: 400;
	font-size: 13px;
	flex-shrink: 0;
	color: var(--check-gray);
	margin-left: 20px;
	margin-right: 20px;
}

.tab-container .tab p {
	content: '';
	position: relative;
	padding-bottom: 8px;
}

.tab-container .tab p:after {
	content: '';
	position: absolute;
	width: 0;
}

.tab-container .tab.active p:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	background-color: var(--primary);
	height: 2px;
	transform-origin: left;
	transition: 0.3s width cubic-bezier(0.215, 0.61, 0.355, 1);
}

.tab-container .tab.active {
	color: black;
}

.img-list-container {
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 0 13px 20px 13px;
	position: relative;
}

.img-list-container.long {
	height: 520px;
	margin-bottom: 20px;
}

.img-list-container.long .bottom-container {
	width: calc(100% - 40px);
	left: 20px;
}

.img-list-container .inner-content {
	color: white;
}

.bottom-container {
	position: absolute;
	bottom: 20px;
}

.top-icon-list {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.top-icon {
	display: inline-block;
	background-color: white;
	border-radius: 22px;
	padding: 1px 10px;
	margin-right: 10px;
	color: var(--primary);
	border: 1px solid var(--border-gray);
}

.top-icon.no-space {
	margin-right: 0;
}

.primary-color {
	color: var(--primary);
}
X .vertical-item .vertical-txt-container {
	padding: 10px 15px;
}

.top-desc-con {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.date-txt {
	font-size: 10px;
	color: var(--check-gray);
}

.avatar-img-con {
	text-align: center;
}

.avatar-img-con.small img {
	width: 56px;
	height: 56px;
	border-radius: 50%;
}

.avatar-img-con img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.empty-header {
	height: 88px;
}

.text-box {
	background: #ffffff;
	box-shadow: 3px 5px 22px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 15px 20px;
}

.tag-item {
	float: left;
	padding: 5px 15px;
	border: 1px solid var(--gray50);
	border-radius: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.tag-item.small {
	padding: 1px 7px;
}

.tag-item.small .tag-txt {
	font-size: 10px;
}

.tag-item.no-margin {
	margin: 0;
}

.tag-item.active {
	border-color: var(--primary);
}

.tag-item.active .tag-txt {
	font-weight: 500;
	color: var(--primary);
}

.tag-item .tag-txt {
	font-size: 14px;
	line-height: 18px;
	color: var(--darkblack);
}

.search-input-con {
	width: 100%;
}

.search-input-con input {
	width: 100%;
	border: 1px solid var(--gray50);
	border-radius: 22px;
	padding: 12px 44px;
	background-image: url('../img/search.png');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: left 16px center;
	font-size: 14px;
	color: #c1c0c8;
	box-sizing: border-box;
}

.scroll .tag-item {
	flex-shrink: 0;
	margin-bottom: 0;
}

.bottom-hash {
	display: flex;
}

.default-icon img {
	width: 30px;
	height: 30px;
}

.info-box .default-icon {
	width: 32px;
	height: 32px;
}

.default-icon.middle img {
	width: 24px;
	height: 24px;
}

.small-icon img {
	width: 15px;
	height: 15px;
}

.chart-con {
	background: #ffffff;
	box-shadow: 3px 8px 22px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.lock {
	position: relative;
}

.lock:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	left: 0;
	top: 0;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	background-image: url('../img/lock.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 54px;
}

.dot-wrap {
	position: relative;
}

.dot-con img {
	width: 24px;
	height: 24px;
}

.dot-wrap .dot-desc-con {
	border: 1px solid var(--lightWite);
	position: absolute;
	width: 150px;
	border-radius: 5px;
	left: -135px;
	top: 20px;
	transform: scale(0);
	opacity: 0;
	transition: 0.3s;
	transform-origin: right top;
}

.dot-wrap .dot-desc-con.active {
	transform: scale(1);
	opacity: 1;
	transition: 0.3s;
	transform-origin: right top;
}

.dot-wrap .dot-desc-con .dot-font {
	font-size: 14px;
	font-weight: 400;
	color: var(--color-gray);
	padding: 15px;
}

.dot-wrap .dot-desc-con .dot-font:hover,
.dot-wrap .dot-desc-con .dot-font.active {
	background-color: var(--lightWite);
}

.dim {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 100;
	top: 0;
	left: 0;
}

.react-calendar.custom-calendar {
	width: 100%;
}
