/* font */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: thin;
	font-weight: 100;
	src: url('../font/NotoSansKR-Thin.otf');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url('../font/NotoSansKR-Regular.otf');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url('../font/NotoSansKR-Medium.otf');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: bold;
	font-weight: 500;
	src: url('../font/NotoSansKR-Bold.otf');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: black;
	font-weight: 700;
	src: url('../font/NotoSansKR-Black.otf');
}
@font-face {
	font-family: 'Avenir-Bold';
	font-weight: 'Bold';
	src: url('../font/Avenir-Bold.ttf');
}
@font-face {
	font-family: 'Avenir-Book';
	font-weight: '500';
	src: url('../font/Avenir-Book.ttf');
}
@font-face {
	font-family: 'Avenir-Medium';
	font-weight: '600';
	src: url('../font/Avenir-Medium.ttf');
}
@font-face {
	font-family: 'Avenir-Black';
	font-weight: '700';
	src: url('../font/Avenir-Black.ttf');
}
* {
	font-family: 'Noto Sans KR', '돋움', Dotum, Verdana, Helvetica, Sans-serif;
}

.fontAvenir {
	font-family: 'Avenir-Book';
	font-weight: 500;
}

.fontAvenirBold {
	font-family: 'Avenir-Bold';
	font-weight: bold;
}

.fontAvenirMedium {
	font-family: 'Avenir-Medium';
	font-weight: '600';
}

.fontAvenirBlack {
	font-family: 'Avenir-Black';
	font-weight: '700';
}

.weight100 {
	font-weight: 100 !important;
}

.weight300 {
	font-weight: 300 !important;
}

.weight400 {
	font-weight: 400 !important;
}

.weight500 {
	font-weight: 500 !important;
}

.weight700 {
	font-weight: 700 !important;
}

h2 {
	font-size: 40px;
	line-height: 46px;
}
h2.samll {
	font-size: 36px;
	line-height: 42px;
}
h3.big {
	font-size: 29px;
	line-height: 35px;
}
h3 {
	font-size: 26px;
	line-height: 32px;
}
h4 {
	font-size: 24px;
	line-height: 30px;
}
h4.small {
	font-size: 22px;
	line-height: 28px;
}
h5 {
	font-size: 20px;
	line-height: 26px;
}
h5.middle {
	font-size: 18px;
	line-height: 24px;
}
h5.small {
	font-size: 16px;
	line-height: 22px;
}
h6 {
	font-size: 14px;
	line-height: 20px;
}
.h7 {
	font-size: 12px;
	line-height: 18px;
}

.big-font {
	font-size: 56px;
	line-height: 64px;
}

.time-desc {
	font-size: 24px;
}

.desc-font {
	font-size: 10px;
	color: var(--realGray);
	line-height: 14px;
}

.smallFont {
	font-size: 10px;
	line-height: 16px;
}

.reqired {
	position: relative;
	display: inline-block;
}

.reqired::after {
	content: '*';
	position: absolute;
	right: -7px;
	color: var(--primary);
	top: -2px;
}

.step-underline {
	display: inline-block;
	padding-bottom: 3px;
	border-bottom: 2px solid var(--primary);
}

.no-scroll {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.del-txt {
	position: relative;
}

.del-txt::after {
	content: '';
	width: 100%;
	position: absolute;
	border-bottom: 1px solid var(--primary);
	left: 0;
	bottom: 7px;
}

.del-txt.gray::after {
	border-bottom-color: var(--realGray);
}

.bottom-small-line {
	position: relative;
}

.bottom-small-line.long:after {
	bottom: -8px;
}

.bottom-small-line:after {
	content: '';
	position: absolute;
	width: 35px;
	height: 2px;
	background-color: var(--primary);
}

.bottom-small-line.small:after {
	width: 18px;
}

.color-primary {
	color: var(--primary) !important;
}

.color-gray {
	color: var(--color-gray) !important;
}

.color-white {
	color: white;
}

.color-bordergray {
	color: var(--border-gray) !important;
}

.color-gray50 {
	color: var(--gray50) !important;
}

.letter87 {
	letter-spacing: -0.87px;
}

.txt-empasis {
	position: relative;
}

.txt-empasis:after {
	content: '';
	position: absolute;
	border-bottom: 8px solid var(--primary30);
	width: 100%;
	left: 0;
	bottom: 3px;
	z-index: 0;
}

.rest-icon img {
	height: 15px;
}

.primary-underline {
	text-decoration: underline;
	text-decoration-color: var(--primary);
}
