.vertical-list-wrap {
	display: flex;
	flex-wrap: nowrap;
	overflow-y: auto;
	padding-bottom: 20px;
}

.vertical-item:first-child {
	margin-left: 20px;
}

.vertical-item {
	margin-right: 15px;
	background: #ffffff;
	box-shadow: 3px 8px 22px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.vertical-item-img img {
	width: 200px;
	height: 136px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.list-content {
	font-size: 14px;
	color: var(--mainBlack);
	white-space: normal;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-bottom-back {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 15px 10px;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.list-bottom-back.has-tag {
	overflow-y: auto;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.horiz-item {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 15px;
}

.horiz-item:last-child {
	padding-bottom: 25px;
	margin-bottom: 0;
}

.horiz-inner {
	background: #ffffff;
	box-shadow: 3px 8px 22px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.horiz-ima-box {
	margin-right: 10px;
}

.horiz-ima-box img {
	width: 100px;
	height: 80px;
}

.horiz-item.wold .horiz-ima-box img {
	width: 100px;
	height: 120px;
}

.horiz-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1);
}

.has-list .item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 17px;
	border-bottom: 1px solid var(--border-gray);
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 17px;
}

.has-list .item:last-child {
	margin-bottom: 0;
}

.todo-wrap {
	padding-left: 20px;
	padding-right: 20px;
}

.todo-inner {
	background: #ffffff;
	box-shadow: 3px 8px 22px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 40px;
}

.todo-inner .todo-con {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--border-gray);
	margin-bottom: 15px;
}

.todo-inner .todo-con:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.card-list-inner {
	padding-left: 20px;
	padding-right: 20px;
}

.card-list-inner .card-list-container {
	display: flex;
	height: 88px;
	align-items: center;
	justify-content: space-between;
	padding: 22px 15px;
	background: #ffffff;
	box-shadow: 3px 8px 22px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.card-list-inner .card-list-container .percent-text {
	flex-basis: 25%;
	text-align: center;
}

.card-list-inner .card-list-container .arrow {
	flex-basis: 50px;
}

.card-list-inner .card-list-container:last-child {
	margin-bottom: 0;
}

.horiz-item.wold .horiz-top {
	justify-content: flex-start;
	align-items: stretch;
}

.word-txt-con {
	width: 100%;
	position: relative;
}

.word-txt-con .word-title {
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
}

.word-txt-con .word-content {
	font-size: 12px;
	line-height: 21px;

	height: 84px;
	overflow: hidden;
	vertical-align: top;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}

.word-desc {
	font-size: 10px;
	position: absolute;
	bottom: 0;
	color: var(--check-gray);
}

.horiz-item .cupon {
}

.cupon-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 90px;
	background-color: var(--gray50);
}
